<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1, initial-scale=1.0">
    <link rel="stylesheet" href="./Style/styles.css">
    <title>contact</title>
</head>
<main class = mainBox>
<body>
    <div class = contactBox>
<header>   
    <div class = linkFontSize>
        <a href = "http://localhost:3000/">HomePage</a>
            <a href = "http://localhost:3000/about">About</a>
            <a href = "http://localhost:3000/products">Products</a>
            <a href = "http://localhost:3000/contacts">Contacts</a>
            <a href = "http://localhost:3000/subscribe">Subscribe</a>
        </div>
    <h4>Contact Info</h4>
</header> 
   

    <p>Here are our contact Information</p>
    <hr>
    <p>Email</p>
    <br>
    <p>lukepeddle@gmail.com</p>

    <hr>
    <p>Phone Number</p>
    <br>
    <p>1(709)427-8953</p>
</div>
</body>
</main>
</html>