<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="./Style/styles.css">
</head>
<div class = mainBox>
<body>
    <div class = homepageBox>

    <header>
        <div class = linkFontSize>
            <a href = "http://localhost:3000/">HomePage</a>
                <a href = "http://localhost:3000/about">About</a>
                <a href = "http://localhost:3000/products">Products</a>
                <a href = "http://localhost:3000/contacts">Contacts</a>
                <a href = "http://localhost:3000/subscribe">Subscribe</a>
            </div>
    <h1>Homepage</h1>
    <hr width = 50%>
</header>

<body>
    <p>This is the homepage.</p>
    
   

</div>
    
</body>
</div>
</html>