<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1, initial-scale=1.0">
    <link rel="stylesheet" href="./Style/styles.css">
    <title>Product</title>
</head>
<main class = mainBox>
<body>
    <div class = productTextBox>
    <header>
        <div class = linkFontSize>
            <a href = "http://localhost:3000/">HomePage</a>
                <a href = "http://localhost:3000/about">About</a>
                <a href = "http://localhost:3000/products">Products</a>
                <a href = "http://localhost:3000/contacts">Contacts</a>
                <a href = "http://localhost:3000/subscribe">Subscribe</a>
            </div>
    <h4>Products</h4>
</header>

    <p>Here is a list of our products.</p>
    <div class = productBox> 
       
        
        <p>Wrench</p>
        <hr width = 50%>
        <p>$50.99</p>
        <div class = prodcutTextSize>
        <p> 
            Our wrenches are engineered to tackle any tightening or loosening task with ease.  
            It is designed to provide a comfortable grip and maximum 
            leverage for efficient use.
        </p>
        </div>
    </div>
    
    <div class = productBox> 
       
  
        
        <p>Hammer</p>
        <hr width = 50%>
        <p>$29.99</p>
        <div class = prodcutTextSize>
        <p>
            With its sturdy steel head and ergonomic handle, 
            our hammer delivers the perfect balance of power and control, ensuring every strike lands with precision and force. 
            
        </p>
    </div>
    </div>

    <div class = productBox> 
       
        
        <p>Screwdriver</p>
        <hr width = 50%>
        <p>$17.99</p>
        <div class = prodcutTextSize>
        <p>
            Crafted with high-quality materials, our screwdriver combines durability with precision engineering, 
            ensuring reliability with every turn. Its ergonomic handle provides a 
            comfortable grip, reducing hand fatigue during prolonged use.
        </p>
    </div>
    </div>

    <div class = productBox> 
        <p>Pliers</p>
        <hr width = 50%>
        <p>$28.99</p>
        <div class = prodcutTextSize>
            <p>
                From gripping and bending to twisting and cutting,
                 our Plier offers unparalleled versatility to tackle various jobs with ease. 
                 Its ergonomic design ensures comfortable handling, 
                 reducing fatigue during extended use.
            </p>
        </div>
    </div>
    
    <div class = productBox> 
        <p>Hand Saw</p>
        <hr width = 50%>
        <p>$29.99</p>
        <div class = prodcutTextSize>
            <p>
            Crafted with high-quality steel and a comfortable,
            ergonomic handle, this hand saw offers exceptional durability and control.
            Its razor-sharp teeth ensure effortless cutting through various materials,
            from lumber to PVC pipes.
            </p>
        </div>
    </div>

    <div class = productBox> 
        <p>Drill</p>
        <hr width = 50%>
        <p>$59.99</p>
        <div class = prodcutTextSize>
            <p>
                This drill effortlessly tackles any project with its high-performance motor and ergonomic design.
                With variable speed control and a versatile chuck,
                it adapts seamlessly to diverse drilling needs, from woodwork to metalwork.
            </p>
        </div>
    </div>
    </div>
</body>
</main>
</html>